<!DOCTYPE html>
<html>
<head>
    <title>Oystrashrooms Orders</title>
</head>
<body>
    <h1>Welcome to Oystrashrooms!</h1>
    <form action="/submit" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Phone:</label><br>
        <input type="text" name="phone" required><br><br>

        <label>Address:</label><br>
        <textarea name="address" required></textarea><br><br>

        <label>Product:</label><br>
        <input type="text" name="product" required><br><br>

        <label>Quantity</label><br>
        <input type="text" name="quantity" required><br><br>

        <button type="submit">Submit Order</button>
    </form>
</body>
</html>
